<h1>{{idioma.nombre}}</h1>
<button [routerLink]="['/idiomas/editarLenguaje',idioma.id]">editar</button>
<button (click)="compartir()" *ngIf="!isUserPropietary && !hasUserAlreadyCompartido"> añadir lenguaje compartido</button>
<button (click)="descompartir()" *ngIf="hasUserAlreadyCompartido"> quitar lenguaje compartido</button>
<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a (click)="showModal=true" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Añadir Grupo de Vocabulario
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item" *ngFor="let gv of listgv">
        <div class="ag-courses-item_link">
            <a [routerLink]="['/idiomas/ejercicio',gv.id]">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    {{gv.nombre}}
                </div>
            </a>
        </div>
    </div>
  
      
  
    </div>
  </div>
  <div class="popup" id="popup" *ngIf="showModal">
    <div class="popup__content">
      <a (click)="showModal=false" class="close">✖</a>
      <h1>Crear nuevo Grupo de vocabulario</h1>
        <input type="text" placeholder="Nombre" [(ngModel)]="nameNew"/>
        <input type="text" placeholder="Nombre columna 1" [(ngModel)]="col1New"/>
        <input type="text" placeholder="Nombre columna 2" [(ngModel)]="col2New"/>
        <p></p>
        <a (click)="create()" class="accept">Crear grupo vocabulario</a>
    </div>
  </div>