<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a (click)="showModal=true" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Añadir Lenguaje
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item" *ngFor="let idioma of listIdiomas">
        <div class="ag-courses-item_link">
            <a [routerLink]="['/idiomas/lenguaje',idioma.id]">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    {{idioma.nombre}}
                </div>
            </a>
        </div>
    </div>
  
      
  
    </div>
  </div>

  <div class="popup" id="popup" *ngIf="showModal">
    <div class="popup__content">
      <a (click)="showModal=false" class="close">✖</a>
      <h1>Crear nuevo Lenguaje</h1>
        <input type="text" placeholder="Nombre" [(ngModel)]="nombreLeng"/>
        <p></p>
        <a (click)="create()" class="accept">Crear lenguaje</a>
    </div>
  </div>