<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a (click)="showModal=true" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Añadir Lenguaje
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item" *ngFor="let idioma of listIdiomas">
        <div class="ag-courses-item_link">
            <a (click)="moveToLeng(idioma)">
                <div class="ag-courses-item_bg"></div>
                <div class="ag-courses-item_title">
                    {{idioma.nombre}}
                </div>
            </a>
        </div>
    </div>
    <div class="ag-courses_item" *ngFor="let idioma of listIdiomasC">
      <div class="ag-courses-item_link">
          <a (click)="moveToLeng(idioma)">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                  {{idioma.nombre}}
              </div>
          </a>
      </div>
  </div>
  
      
  
    </div>
  </div>


  
  
  <div class="popup" id="popup" *ngIf="showModal">
    <div class="popup__content">
      <a (click)="showModal=false" class="close">✖</a>
      <h1>Crear nuevo Lenguaje</h1>
      <input type="file" (change)="loadFile($event)">
      <a class="accept" (click)="confirmImport()">Importar lenguaje</a>
        <input type="text" placeholder="Nombre" [(ngModel)]="nombreLeng"/>
        <div class="custom-select">
          <input 
            type="text" 
            placeholder="Buscar..." 
            [(ngModel)]="searchTerm" 
            (keyup)="filterLanguages()" 
            (focus)="isDropdownOpen = true"
            class="search-box"
          />
          <ul class="options-list" *ngIf="isDropdownOpen">
            <li 
              *ngFor="let language of filteredLanguages" 
              (click)="selectLanguage(language)">
              {{ language.name }}
            </li>
          </ul>
        </div>
        
        

        <!-- <select [(ngModel)]="selectedLanguage">
          <option *ngFor="let language of lang" [value]="language.code">{{ language.name }}</option>
      </select> -->
      <label>
        <input type="checkbox" [(ngModel)]="privacidad"> lenguaje privado?
      </label>
        <p></p>
        <a (click)="create()" class="accept">Crear lenguaje</a>
    </div>
  </div>