<h1>Editar Lenguaje:</h1>
<button (click)="guardar()">guardar cambios</button>
<button [routerLink]="['/idiomas/lenguaje',idioma.id]">volver al lenguaje</button>
<input type="text" placeholder="nombre lenguaje" [(ngModel)]="idioma.nombre" />
<div id="floats">
<div id="listgv">
<ul>
    <li *ngFor="let gv of listgv">
      {{gv.nombre}}
    <button (click)="getListPalabras(gv)">editar grupo palabra </button>
    </li>
</ul>
</div>
<div id="editarGV" *ngIf="showEditGV">
    <input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre" />
    <ul id="tabla" class="dark">
        <div class="row header">
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre_col1" /></div>
          <div class="col"><div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre_col2" /></div></div>
        </div>
        <div class="row" *ngFor="let item of listPalabra">
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="item.col1" /></div>
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="item.col2" /></div>
        </div>
      </ul>
    
</div>
</div>