<div class="title">
<a [routerLink]="['/pages/lenguaje',idioma.id]" class="accept" id="v">←</a><br/>
<div class="text-box">
  <h1>Editar Lenguaje</h1>
  <h1>Editar Lenguaje</h1>
</div>
</div>
<div class="other">
<a (click)="deleteidioma()" class="accept">Borrar idioma</a><br/>
<a (click)="export()" class="accept">Exportar idioma</a><br/>

<div class="form__group field">
  <input type="text" class="mb-2" class="form__field" placeholder="Nombre idioma" name="nidioma" id='nidioma' required [(ngModel)]="idioma.nombre"/>
  <label for="nidioma" class="form__label">Nombre idioma</label>
</div>
<mat-form-field>
  <mat-label>Selecciona un idioma</mat-label>
  <mat-select [(value)]="idioma.lenguaje">
    <input (keyup)="onKey($event.target.value)">
    <mat-option *ngFor="let language of selectedlangs" [value]="language.code">
      {{ language.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<label>
  <label class="form-control">
    <input type="checkbox" name="checkbox" [(ngModel)]="!idioma.private"/>
    ¿lenguaje privado?
  </label>
</label>

<div id="floats">
<div id="listgv">
  <h2>Grupos Palabras</h2>
<ol class="alternating-colors">
    <li *ngFor="let gv of listgv">
      <strong>{{gv.nombre}}</strong><br/>
      <a (click)="getListPalabras(gv)" class="accept">Editar grupo palabra</a><br/>
      <a (click)="deleteGV(gv.id)" class="accept">Eliminar grupo palabra</a>
    </li>
</ol>
</div>
<div class="popup" id="popup" *ngIf="showEditGV">
  <div class="popup__content">
    <input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre" />
    <ul id="tabla" class="dark">
        <div class="row header">
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre_col1" /></div>
          <div class="col"><div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="gv.nombre_col2" /></div></div>
        </div>
        <div class="row" *ngFor="let item of listPalabra">
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="item.col1" /></div>
          <div class="col"><input type="text" placeholder="nombregv" [(ngModel)]="item.col2" /></div>
          <div class="col"><button (click)="deletepalabra(item.id)">eliminar palabra </button></div>
        </div>
      </ul>
    
</div>
</div>
<a (click)="guardar()" class="accept" id="g">Guardar Cambios</a><br/>
</div>