<div class="title">
<a [routerLink]="['/pages/lenguaje',idioma.id]" class="accept" id="v">←</a><br/>
<div class="text-box">
  <h1>Editar Lenguaje</h1>
  <h1>Editar Lenguaje</h1>
</div>
</div>
<div class="other">
<a (click)="deleteidioma()" class="accept">Borrar idioma</a><br/>
<a (click)="export()" class="accept">Exportar idioma</a><br/>

<div class="form__group field">
  <input type="text" class="mb-2" class="form__field" placeholder="Nombre idioma" name="nidioma" id='nidioma' required [(ngModel)]="idioma.nombre"/>
  <label for="nidioma" class="form__label">Nombre idioma</label>
</div>
<mat-form-field>
  <mat-label>Selecciona un idioma</mat-label>
  <mat-select [(value)]="idioma.lenguaje">
    <input (keyup)="onKey($event.target.value)">
    <mat-option *ngFor="let language of selectedlangs" [value]="language.code">
      {{ language.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<label>
  <label class="form-control">
    <input type="checkbox" name="checkbox" [(ngModel)]="!idioma.private"/>
    ¿lenguaje privado?
  </label>
</label>

<div id="floats">
<div id="listgv">
  <h2>Grupos Palabras</h2>
<ol class="alternating-colors">
    <li *ngFor="let gv of listgv">
      <strong>{{gv.nombre}}</strong><br/>
      <a (click)="getListPalabras(gv)" class="accept">Editar grupo palabra</a><br/>
      <a (click)="deleteGV(gv.id)" class="accept">Eliminar grupo palabra</a>
    </li>
</ol>
</div>
<div class="popup" id="popup" *ngIf="showEditGV">
  <div class="popup__content">
    <h2>Editar grupo palabras</h2>
    <div class="form__group field">
      <input type="text" class="mb-2" class="form__field" placeholder="Nombre" name="Nombre" id='Nombre' required [(ngModel)]="gv.nombre"/>
      <label for="Nombre" class="form__label">Nombre Grupo palabras</label>
    </div>
<h4>Palabras</h4>
    <ul id="tabla" class="dark">
        <div class="row header">
          <div class="col">
            <div class="form__group field">
              <input type="text" class="mb-2" class="form__field" placeholder="Nombre Columna 1" name="c1" id='c1' required [(ngModel)]="gv.nombre_col1"/>
              <label for="c1" class="form__label">Nombre Colmuna1</label>
            </div>
          </div>
          <div class="col">
            <div class="form__group field">
              <input type="text" class="mb-2" class="form__field" placeholder="Nombre Columna 2" name="c2" id='c2' required [(ngModel)]="gv.nombre_col2"/>
              <label for="c2" class="form__label">Nombre Colmuna</label>
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let item of listPalabra">
          <div class="col">
            <div class="form__group field">
              <input type="text" class="mb-2" class="form__field" placeholder="Palabra Colmuna 1" name="i1" id='i1' required [(ngModel)]="item.col1"/>
              <label for="i1" class="form__label">Palabra Colmuna 1</label>
            </div>
          </div>
          <div class="col">
            <div class="form__group field">
              <input type="text" class="mb-2" class="form__field" placeholder="Palabra Colmuna 2" name="i2" id='i2' required [(ngModel)]="item.col2"/>
              <label for="i2" class="form__label">Palabra Colmuna 2</label>
            </div>
          </div>
          <div class="col">
            <a (click)="deletepalabra(item.id)" class="accept">X</a><br/>
          </div>
        </div>
      </ul>
    
</div>
</div>
<a (click)="guardar()" class="accept" id="g">Guardar Cambios</a><br/>
</div>