
    <h1>{{ gv.nombre }}</h1>
    <div id="titleseparator"></div>
    <div *ngIf="showOpciones">
      <div class="card" (click)="showModal=true">
        <h4>Añadir palabras</h4>
        </div>
        <div class="card" (click)="showContents('estudiar')">
            <h4>Estudiar</h4>
        </div>
        
          <div class="card" (click)="showContents('practicar')">
            <h4>Practicar</h4>
        </div>
    </div>
    <div *ngIf="showEstudiar">
      <button color="tertiary" expand="block" (click)="showContents('opciones')"
        >Cambiar Seleccion</button
      >

      <div>
        <ul id="tabla" class="dark">
          <div class="row header">
            <div class="col">{{ gv.nombre_col1 }}</div>
            <div class="col">{{ gv.nombre_col2 }}</div>
          </div>
          <div class="row" *ngFor="let item of listPalabra">
            <div class="col">{{ item.col1 }}</div>
            <div class="col">{{ item.col2 }}</div>
          </div>
        </ul>
      </div>
    </div>
    <div *ngIf="showPracticar" id="practicar">
      <button
        (click)="showContents('opciones')"
        id="cambiarselect"
        >Cambiar Seleccion</button
      >
      <div *ngIf="showTipoPractica">
        <h2>Seleccione tipo practica</h2>
        <div class="card" (click)="startEjercicio('col1TOcol2')">
            <h4>{{ gv.nombre_col1 }} => {{ gv.nombre_col2 }}</h4>
        </div>
        <div class="card" (click)="startEjercicio('col2TOcol21')">
            <h4>{{ gv.nombre_col2 }} => {{ gv.nombre_col1 }}</h4>
        </div>
        <div class="card" (click)="startEjercicio('mixed')">
            <h4>Mezcla</h4>
        </div>


      </div>
      <div *ngIf="showEjercicio">
        <div id="subtitle">
          <div id="lineizq"></div>
          <h2>{{ title }}</h2>
          <div id="linedrch"></div>
        </div>
        <div id="restcontent">
            <div >
                <h4>{{ wordShow }}</h4>
                <div id="tablaEJ">
                    <div class="rowEJ headerEJ">
                      <div class="colEJ">
                        palabras acertadas:<br />
                        {{ totalwordsright }}/{{ totalwords }}
                      </div>
                      <div class="colEJ">
                        palabras totales:<br />
                        {{ wordsdone }}/{{ totalwords }}
                      </div>
                    </div>
                  </div>
                <input
            [(ngModel)]="wordguessed"
            *ngIf="!wordFailed"
          >
          <h3 *ngIf="wordFailed" [innerHTML]="wordtoguess"></h3>
            </div>

          <button color="tertiary" *ngIf="tries != 3" expand="block" (click)="checkAnswer()"
            >Comprobar</button
          >
          <button
          color="tertiary"
            *ngIf="tries == 3 && totalwords != wordsdone"
            expand="block"
            (click)="nextWord()"
            >Siguiente palabra</button
          >
          <button
          color="tertiary"
            *ngIf="tries == 3 && totalwords == wordsdone"
            expand="block"
            (click)="nextWord()"
            >Terminar practica</button
          >
        </div>
      </div>

      <div *ngIf="finEjercicio">
        <div class="card">
            <h4>Puntuación</h4>
            <h3>{{ totalwordsright }}/{{ totalwords }}</h3>
        </div>
        <button color="tertiary" expand="block" (click)="showContents('estudiar')"
          >Estudiar</button
        >
        <button color="tertiary" expand="block" (click)="showContents('reintentar')"
          >Reintentar</button
        >
        <button color="tertiary" expand="block" (click)="showContents('practicar')"
          >Cambiar tipo ejercicio</button
        >
        <button
        color="tertiary"
          expand="block"
          [routerLink]="['/pages/grupoVocabulario', gv.id]"
          routerLinkActive="router-link-active"
          replaceUrl="true"
          >Cambiar grupo de palabras</button
        >
      </div>
    </div>

    <div class="popup" id="popup" *ngIf="showModal">
      <div class="popup__content">
        <a (click)="showModal=false" class="close">✖</a>
        <h1>Crear nueva palabra</h1>
          <input type="text" placeholder="Columna 1" [(ngModel)]="col1New"/>
          <input type="text" placeholder="Columna 2" [(ngModel)]="col2New"/>
          <p></p>
          <a (click)="create()" class="accept">Crear palabra</a>
      </div>
    </div>